body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b0e13; /*#212a39;*/
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

.event {
  display: flex; /* Use flexbox to align items */
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 20px; /* Adjust margin between events */
  margin-top: 20px;
  width: 800px;
}

.date-dot {
  margin-right: 20px; /* Adjust spacing between date-dot and content */
  display: flex; /* Use flexbox for date-dot */
  flex-direction: column; /* Stack date and dot vertically */
}

.date {
  background-color: #242424;
  color: #ce8404;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: 900;
  text-align: center;
  width: 180px;
}

.content {
  background-color: #161616;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width */
  color: #bababa;
}

.content-argument {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width */
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image {
  width: 200px; /* Set a fixed width for the image container */
  margin-top: 20px;
}

.image img {
  width: 100%; /* Make the image fill its container */
  border-radius: 5px; /* Apply border radius to the image */
}

.content h2 {
  color: #fff;
}

.content h2,
.content-argument h2,
.statement h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.content p,
.content-argument p,
.statement p {
  font-family: "Noto Sans", sans-serif;
  margin-top: 10px; /* Adjust margin between paragraphs */
}

.content img {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 20px;
}

hr {
  border-color: #242424;
}

.video {
  background-color: #161616;
  padding: 20px;
  border-radius: 5px;
  color: #bababa;
  align-items: center;
}

.heading p {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}

.heading h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
}

.event-container {
  display: inline-flex;
}
